@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Austin Pearson Portfolio</title>

    <!-- Bootstrap -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <style>
        .verticle-middle {
            vertical-align: middle;
        }

        .standardH {
            height: 475px;
        }

        .picH {
            height: 255px;
        }
        .personalH {
            height:404px;
            width:404px;
        }
    </style>
    <!-- =======================================================
      Theme Name: MyResume
      Theme URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
    <div class="wrapper" id="wrapper">
        <header>
            <div class="banner row" id="banner">
                <div class="parallax text-center" style="background-image: url(/img/1.jpg);">
                    <div class="parallax-pattern-overlay">
                        <div class="container text-center" style="height:600px;padding-top:170px;">

                            <h2 class="intro"><a href="index.html">Hi, Im Austin</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="navbar-wrapper">
                    <div class="container">
                        <div class="navwrapper">
                            <div class="navbar navbar-inverse navbar-static-top">
                                <div class="container">
                                    <div class="navArea">
                                        <div class="navbar-collapse collapse">
                                            <ul class="nav navbar-nav">
                                                <li class="menuItem active"><a href="#wrapper">Home</a></li>
                                                <li class="menuItem"><a href="#aboutus">About Me</a></li>
                                                <li class="menuItem"><a href="#specialties">Skills</a></li>
                                                <li class="menuItem"><a href="#gallery">Portfolio</a></li>
                                                <li class="menuItem"><a href="#feedback">Proficiencies</a></li>
                                                <li class="menuItem"><a href="#contact">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--about me-->
        <section class="aboutus" id="aboutus">
            <div class="container">
                <div class="heading text-center">
                    <h2>About Me</h2>

                </div>
                <div class="row">
                    <div class="col-md-6 standardH">
                        <div class="text-center">
                            <img src="~/img/team/1.jpg" class="" alt=""><br />
                            <a href="#"><b>Download my resume</b></a>
                        </div>
                    </div>
                    <div class="col-md-6 standardH">
                        <p class="verticle-middle">
                            My passion for technology started with my first computer, the second I got it I took it apart to see how exactly it works. In high school I took a web development class learning Html and CSS, I instantly developed a love for programming. Off and on for the next few years, I learned little by little. Up until I got accepted into Coder Foundry where now I am studying and learning code making my dream of working in technology come true.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        @*
        ༼ つ ◕_◕ ༽つ
        *@

        <!--skills-->
        <section class="specialties" id="specialties">
            <div class="container">
                <div class="heading text-center">
                    <h2>Our Skills</h2>
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem, cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula </h3>
                </div>
            </div>

            <div class="container">
                <div class="row">


                    @*<div class="col-md-6 wow fadeInRight " data-wow-offset="0 " data-wow-delay="0.6s ">
                        <img src="~/img/team/6.jpg" class="img-responsive">
                    </div>*@
                </div>
            </div>


        </section>


        <!--portfolio-->
        <section class="gallery" id="gallery">
            <div class="container">
                <div class="heading text-center">
                    <h2>Portfolio</h2>
                    <h3>My portfolio consists of various exercises and projects from my time learning code at Coder Foundry.</h3>
                </div>

                <div id="grid-gallery" class="grid-gallery">
                    <section class="grid-wrap">
                        <ul class="grid">
                            <li class="grid-sizer"></li>
                            <!-- for Masonry column width -->
                            <li>
                                <figure>
                                    <img src="~/img/work/Fizzbuzz.png" class="img-responsive picH" data-toggle="modal" data-target="#myModal1" />
                                    <figcaption>
                                        <h3>Fizz Buzz Coding Exercise</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="~/img/work/palindrome.jpeg" class="img-responsive picH" data-toggle="modal" data-target="#myModal2" />
                                    <figcaption>
                                        <h3>Palindrome Coding Exercise</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="~/img/work/3.jpg" class="img-responsive picH" data-toggle="modal" data-target="#myModal3" />
                                    <figcaption>
                                        <h3>Factorial Coding Exercise</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="~/img/work/4.jpg" class="img-responsive picH" data-toggle="modal" data-target="#myModal4" />
                                    <figcaption>
                                        <h3>Sum of All Fears Exercise</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="~/img/work/5.jpg" class="img-responsive picH" data-toggle="modal" data-target="#myModal5" />
                                    <figcaption>
                                        <h3>Java Script Math Coding Exercise</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <a href="https://austinsblog.azurewebsites.net/"><img src="~/img/work/6.jpg" /></a>
                                    <figcaption>
                                        <h3>Personal Blog <br />Project </h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img src="~/img/work/7.jpg" alt="" />
                                    <figcaption>
                                        <h3>Bug Tracker <br /> Project</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>

                            <li>
                                <figure>
                                    <img src="~/img/work/8.jpg" alt="" />
                                    <figcaption>
                                        <h3>Vitae fringilla elit</h3>
                                        <p></p>
                                    </figcaption>
                                </figure>
                            </li>

                        </ul>
                    </section>
                </div>
            </div>
        </section>




        <!--education-->
        <section class="feedback" id="feedback">
            <div class="container">
                <div class="heading">
                    <h2>Education</h2>
                    <h3>
                        Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.<br>
                        Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.
                    </h3>
                </div>
            </div>

            <div class="container">
                <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
                    <div class="text-center">
                        <div class="hi-icon-wrap hi-icon-effect">
                            <h4>MASTER OF COMPUTER SCIENCE</h4>
                            <h5>FEB 2012 - DEC 2014</h5>
                            <i class="fa fa-laptop"></i>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.6s">
                    <div class="text-center">
                        <div class="hi-icon-wrap hi-icon-effect">
                            <h4>MASTER OF COMPUTER SCIENCE</h4>
                            <h5>FEB 2012 - DEC 2014</h5>
                            <i class="fa fa-book"></i>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.9s">
                    <div class="text-center">
                        <div class="hi-icon-wrap hi-icon-effect">
                            <h4>MASTER OF COMPUTER SCIENCE</h4>
                            <h5>FEB 2012 - DEC 2014</h5>
                            <i class="fa fa-gear"></i>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <blockquote>
                        "Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program." <cite>Rajanand<br /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></cite>
                    </blockquote>
                    <blockquote>
                        "Always code as if the guy who ends up maintaning your code will be a violent psychopath who knows where you live." <cite>Rick Osborne<br /><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></cite>
                    </blockquote>
                </div>
            </div>
        </section>

        <!--education-->
        <section class="contact" id="contact">
            <div class="container">
                <div class="heading">
                    <h2>Contact</h2>
                    <h3>
                        Have more questions or conerns about my Portfolio?<br>
                        Shoot me an email or give me a call.
                    </h3>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="contact-info">
                        <div class="col-md-5">
                            <h4>My Contact Info</h4>
                            <h5>Nullam elementum tellus pretium feugiat</h5>
                            <p>Fusce fermen tum neque a rutrum varius odio pede ullamcorp-er tellus ut dignissim nisi risus non tortor</p>
                            <ul>
                                <li><i class="fa fa-home fa-2x"></i> Home # 38, Suite 54 Elizebth Street</li>
                                <li><i class="fa fa-phone fa-2x"></i> (336)-307-8393</li>
                                <li><i class="fa fa-envelope fa-2x"></i> austinpearson52@yahoo.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>

                            <div class="text-center"><button type="submit" class="contact submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!--footer-->
        <section class="footer" id="footer">
            <p class="text-center">
                <a href="#wrapper" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
            </p>
            <div class="container">
                <ul>
                    <li><a href="https://twitter.com/AustinCPearson1"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/austinpearson12"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/austin-pearson-90068818a/"><i class="fa fa-linkedin"></i></a></li>

                </ul>
                <p>&copy; MyResume Theme. All Rights Reserved.</p>
                <div class="credits">
                    <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyResume
                -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </section>

    </div>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/modernizr.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/menustick.js"></script>
    <script src="~/Scripts/parallax.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/masonry.js"></script>
    <script src="~/Scripts/imgloaded.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/colorfinder.js"></script>
    <script src="~/Scripts/gridscroll.js"></script>
    <script src="~/Scripts/contact.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/fizzbuzz.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="~/Scripts/fact.js"></script>
    <script src="~/Scripts/sum.js"></script>
    <script src="~/Scripts/JavaMath.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script>
        wow = new WOW({}).init();
    </script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).ready(function () {
                //enabling stickUp on the '.navbar-wrapper' class
                $('.navbar-wrapper').stickUp({
                    parts: {
                        0: 'banner',
                        1: 'aboutus',
                        2: 'specialties',
                        3: 'gallery',
                        4: 'feedback',
                        5: 'contact'
                    },
                    itemClass: 'menuItem',
                    itemHover: 'active',
                    topMargin: 'auto'
                });
            });
        });
    </script>




    <!--Modal Section For Grid Gallery-->
    <!--FizzBuzz Exercise Modal-->
    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">JavaScript Exercises</h4>
                </div>
                <div class="modal-body">

                    <h2> Fizz Buzz Coding Challenge</h2>

                    <div class="row">
                        <div class="col-md-12 h3">
                            Enter two numbers to run code
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <input id="fbn1" type="number" placeholder="Enter Number 1" />
                        </div>
                        <br />
                        <div class="row">
                            <input id="fbn2" type="number" placeholder="Enter Number 2" />
                        </div>
                        <br />
                    </div>
                    <div class="col-md-6">
                        <p id="fizzOut" class="text-center"></p>

                    </div>
                    <br />


                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group btn-group-lg btn-group-justified">

                                <a class="btn btn-success" id="btnFizz">Calculate</a>
                                <a class="btn btn-info" id="codeBtn">Code</a>
                                <a class="btn btn-danger" id="btnClear">Clear</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="code">
                                <pre class="brush:js">
                                    $(function () {

                                        $("#btnFizz").click(function () {
                                            // Get value from input id's
                                            var num1 = +($("#fbn1").val());
                                            var num2 = +($("#fbn2").val());
                                            var output = "";
                                            // Use a loop using Java
                                            for (var counter = 1; counter <= 100; counter++) {
                                                if ((counter % num1 == 0) && (counter % num2 == 0)) {
                                                    output += "FizzBuzz, ";
                                                }
                                                else if (counter % num1 == 0) {
                                                    output += "Fizz, ";
                                                }
                                                else if (counter % num2 == 0) {
                                                    output += "Buzz, ";
                                                }
                                                else {
                                                    output += counter + ", ";
                                                }
                                            }
                                            //Display The Output to the User
                                            output = output.substr(0, output.length - 2);
                                            $("#fizzOut").text(output);

                                        });



                                        $("#btnClear").click(function () {
                                            $("#fbn1").val("");
                                            $("#fbn2").val("");
                                            $("#fizzOut").text("");
                                        });
                                        $("#code").hide();
                                        $("#codeBtn").click(function () {
                                            $("#code").toggle();
                                            if ($(this).text == "Show Code") {
                                                $(this).text("Hide Code");
                                            } else {
                                                $(this).text("Show Code");
                                            }
                                        });
                                    });
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Palindrome Modal-->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">


            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">JavaScript Exercises</h4>
                </div>
                <div class="modal-body">
                    <h2>Palindrome Exercise</h2>

                    <div class="row">
                        <div class="col-md-12 text-capitalize-center">
                            <h3> Welcome to the Palindrome Problem!!</h3>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input id="palIn" type="text" placeholder="Enter your word" />
                        </div>
                        <div class="col-md-6">
                            <p id="palOut"></p>
                        </div>
                    </div>
                    <br />

                    <div class="btn-group btn-group-lg btn-group-justified">

                        <a class="btn btn-success" id="btnPal">Calculate</a>
                        <a class="btn btn-info" id="codeBtn2">Code</a>
                        <a class="btn btn-danger" id="btnClear2">Clear</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="code">
                                <pre class="brush:js">
                                    $(function () {


                                        //step 1: Get the data
                                        $("#btnPal").click(function () {
                                            var word = $("#palIn").val();



                                            //Step 2:Reverse the word
                                            //Use a decrementing for loop in conjunction with the substr command and the += operator to produce the reverse word.
                                            for (var index = word.length - 1, revword = ""; index >= 0; index--) {
                                                revword += word.substr(index, 1);
                                            }

                                            if (word === revword) {
                                                $("#palOut").text(revword + "is a Palindrome!");
                                            }
                                            else {
                                                $("#palOut").text(revword + "is not a Palindrome.");
                                            }
                                        });

                                        $("#btnClear2").click(function () {
                                            $("#palIn").val("");
                                            $("#palOut").text("");
                                        });

                                    });
                                </pre>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Factorial Modal -->
    <div id="myModal3" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Javascript Exercises</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12 text-capitalize-center">
                            <h3> Welcome to the Factorial Problem!!</h3>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input id="factIn" type="number" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-6">
                            <p id="factOut"></p>
                        </div>
                    </div>
                    <br />
                    <div class="btn-group btn-group-lg btn-group-justified">

                        <a class="btn btn-success" id="btnFact3">Calculate</a>
                        <a class="btn btn-info" id="codeBtn3">Code</a>
                        <a class="btn btn-danger" id="btnClear3">Clear</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="code">
                                <pre class="brush:js">
                                $(function () {

                                //I need a click event handler for the button
                                        $("#btnFact3").click(function () {
                                            //Step:1 Get the User Data
                                            var number = +$("#factIn").val();

                                            if (number > 170) {
                                                alert("I told you...");
                                                $("#factIn").val("");

                                            }

                                            //Step2: Calculate the Factorial
                                            for (var loop = number - 1; loop > 1; loop--) {
                                                //How do we claculate the factorial
                                                //numer=number*loop
                                                number *= loop;
                                            }

                                            //Step 3: Show the results
                                            $("#factOut").text(number);
                                        });
                                        $("#btnClear3").click(function () {
                                            $("#factIn").val("");
                                            $("#factOut").text("");
                                        });
                                });
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!--Sum Of All Fears Modal-->
    <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-lg">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Coding Exercises</h4>
                </div>
                <div class="modal-body">

                    <h2>Sum of All Fears</h2>
                    <div class="row">
                        <div class="col-md-11">
                            <p>
                                The Sum of All Fears icoding cahllenge involves an array of integers and some number called 'K'.
                                If 'K' can be derived from adding any two numbers from the array tehn it is said to contain that 'K' calue.
                                If given an array =[10,4,6,7] and a 'K' value of 17, the array contains the'K' value because 10 + 7 ='K'
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6" h3>
                            Create a searchable array by entering 6 numbers into the boxes below

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-control" type="number" id="val1" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" id="val2" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" id="val3" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" id="val4" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" id="val5" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-2">
                            <input class="form-control" type="number" id="val6" placeholder="Enter a number" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6" h3>
                            Establish a 'K' value by entering a number in the box below

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input class="form-inline" type="number" id="kValue" placeholder="Enter a number" />
                        </div>
                        <div class="col-md-6">
                            <p id="factOut4" class="text-center"></p>
                        </div>
                    </div>
                    <br />
                    <div class="btn-group btn-group-lg btn-group-justified">

                        <a class="btn btn-success" id="btnFact5">Calculate</a>
                        <a class="btn btn-info" id="codeBtn4">Code</a>
                        <a class="btn btn-danger" id="clearBtn4">Clear</a>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="code">
                                <pre class="brush:js">
                                          $("btnFact5").click(function () {
                                        //Set an empty Array
                                        var sumArray = new Array();

                                        //Get the Input Numbers
                                        sumArray.push(+$("$sumNum1").val());
                                        sumArray.push(+$("$sumNum21").val());
                                        sumArray.push(+$("$sumNum31").val());
                                        sumArray.push(+$("$sumNum41").val());
                                        sumArray.push(+$("$sumNum51").val());
                                        sumArray.push(+$("$sumNum61").val());

                                        var kValue = +$("#kValue").val();

                                        for (index = 0, found = false; index < sumArray.length - 1; index++) {
                                            var position = sumArray.indexOf(kValue1 - sumArray[index], index + 1);
                                            if (position > 0) {
                                                found = true;
                                                $("#factOut4").text("Congrats! K has been found!");
                                                $("#mathEquation").text(index + "+" + sumArray + "=" + kValue);
                                                break;
                                            }
                                        }
                                        if (found) {
                                            $("#factOut4").text("K is not in this Array.");
                                        }
                                        $("#clearBtn5").click(function () {
                                            $("#factOut4").text("");
                                            $("#sumNum12").text("");
                                            $("#sumNum21").text("");
                                            $("#sumNum31").text("");
                                            $("#sumNum41").text("");
                                            $("#sumNum51").text("");
                                            $("#sumNum61").text("");
                                            $("#kValue").text("");
                                        });

                                    });
            
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Java Math Modal-->
    <div id="myModal5" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">JavaScript Exercises</h4>
                </div>
                <div class="modal-body">
                    <h2>Javascript Math</h2>

                    <hr />
                    <div class="row">
                        <div class="col-md-12 text-center h3">
                            <h4> Enter any 5 numbers to run the math</h4>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="number" id="mathnum1" placeholder=" Enter a number" />
                        </div>
                        <div class=" col-mod-6">
                            <p id="min" class="text-center"></p>
                        </div>



                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="number" id="mathnum2" placeholder=" Enter a number" />
                        </div>
                        <div class="col-mod-6">
                            <p id="max" class="text-center"></p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="number" id="mathnum3" placeholder=" Enter a number" />
                        </div>
                        <div class="col-mod-6">
                            <p id="mean" class="text-center"></p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="number" id="mathnum4" placeholder=" Enter a number" />
                        </div>
                        <div class="col-md-6">
                            <p id="sum" class="text-center"></p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control" type="number" id="mathnum5" placeholder=" Enter a number" />
                        </div>
                        <div class="col-md-6">
                            <p id="product" class="text-center"></p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">


                            <button class="btn btn-success" id="mathBtn">Calculate</button>
                            <button class="btn btn-info" id="codeBtn5">Show Code</button>
                            <button class="btn btn-danger" id="clearBtn5">Clear</button>

                        </div>
                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="code">
                                <pre class="brush:js">
                                 $("#mathBtn").click(function () {
                                    //Step 1: Grab the value inside input id
                                    var number1 = Number($("#mathnum1").val());
                                    var number2 = Number($("#mathnum2").val());
                                    var number3 = Number($("#mathnum3").val());
                                    var number4 = Number($("#mathnum4").val());
                                    var number5 = Number($("#mathnum5").val());

                                    //Step 2: Do something with it (javascript)
                                    var min = Math.min(number1, number2, number3, number4, number5);
                                    var max = Math.max(number1, number2, number3, number4, number5);
                                    var sum = number1 + number2 + number3 + number4 + number5;
                                    var mean = sum / 5;
                                    var product = number1 * number2 * number3 * number4 * number5;

                                    //Step 3: Output the results to the screen (jquery)
                                    $("#min").text("Your smallest number is " + min + ".");
                                    $("#max").text("Your largest number is " + max + ".");
                                    $("#mean").text("The average of the five is " + mean + ".");
                                    $("#sum").text("The sum of the five is " + sum + ".");
                                    $("#product").text("And the product of everything is " + product + ".");
                                });

                                $("#clearBtn").click(function () {
                                    $("#sum").text("");
                                    $("#product").text("");
                                    $("#mean").text("");
                                    $("#min").text("");
                                    $("#max").text("");
                                    $("#mathnum1, #mathnum2, #mathnum3, #mathnum4, #mathnum5").val("");
                                });
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>





</body>

</html>

