<appSettings>
  <add key="username" value="austinpearson52@yahoo.com"/>
  <add key="password" value="uagvxasjpjrxkfdb"/>
  <add key="emailto" value="austinpearson52@yahoo.com"/>
  <add key="emailfrom" value="austinpearson52@yahoo.com"/>
  <add key="host" value="smtp.mail.yahoo.com"/>
  <add key="port" value="587"/>
</appSettings>